@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.hero-title {
  font-size: 100pt;
  padding-left: 3%;
  color: rgb(0, 0, 0);
  text-align: left;
  max-width: 700px;
}
.hero-world-icon {
  font-size: 170pt;
  padding-right: 3%;

}

html {
  scroll-snap-type: y mandatory;
}

h1 {
  font-size: 50pt;
  padding-left: 3%;
  color: rgb(0, 0, 0);
  text-align: left;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}