.hero-title {
    font-size: 100pt;
    font-style: bold;
    font-family: sans-serif;
    padding-left: 3%;
}
body {
    background: white;
}
p {
    font-family: sans-serif;
    padding-left: 5%
}
.hero-world-icon {
    font-size: 170pt;
    padding-right: 3%;

}